<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pro.gr.ams.stiorganizer">

    <application
            android:allowBackup="true"
            android:icon="@raw/app_icon"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".RegistrationActivity">
        </activity>
        <activity android:name=".NotesActivity">
        </activity>
        <activity
                android:name=".AddNotesActivity"
                android:theme="@style/PopAct">
        </activity>
        <activity android:name=".EditNotesActivity"
        android:theme="@style/PopAct">
        </activity>
    </application>

</manifest>